# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.idea/
/venv/

# Logs
*.log
/client/logs/
/client/logs/log.log
/client/logs/fsm.log
/report/smtp_client_report_SBN/tex/static/ER-diagram field.xml
/report/smtp_client_report_SBN/tex/static/ER_diagram_field.png
/report/smtp_client_report_SBN/tex/static/physical.png
/report/smtp_client_report_SBN/tex/static/Untitled Diagram.drawio
/report/smtp_client_report_SBN/tex/static/server_dot.png
/report/smtp_client_report_SBN/tex/static/server_dot.aux
/report/smtp_client_report_SBN/tex/static/Server_Class_Diagram.png
